---
layout: default
---

<article role="article">
  <h1>{{ page.title }}</h1>

  <p>{{ page.summary }}</p>

  <time class="date" datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%B %-d, %Y" }} &middot;

      {% assign words = page.content | number_of_words %}
      {% if words < 360 %}
        1 min
      {% else %}
        {{ words | divided_by:180 }} mins
      {% endif %}
      read &middot;

      <a class="post" href="/category/{{page.category}}">{{ page.category | replace: "-", " " }}</a>

      <hr>
  </time>

  {{ content }}

  <hr>



  <!-- Related posts: -->
    <div class="related">
        <h4>Interested in getting updates on my latest insights and projects, feel free to join my <a class="post" href="https://mailchi.mp/579f9d6927dd/hoanhanco">Insights mailing list</a>.
        Otherwise, checkout similar posts here:</h4>

        <ul>
        {% assign relatedCount = 0 %}
        {% for related in site.categories[page.category] %}
            {% unless page.url == related.url %}
                {% assign relatedCount = relatedCount | plus: 1 %}
                <li><a href="{{related.url }}">{{ related.title }}</a></li>
            {% endunless %}

            {% if relatedCount == 3 %}
                {% break %}
            {% endif %}
        {% endfor %}

        </ul>
    </div>
  
  <hr>

  <!-- Tags: -->
  <p>
      Tagged:
      {% for tag in page.tags %}
      <a class="post" href="/tag/{{tag}}">#{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
  </p>
      
  <br>

  {% disqus %}
  
</article>
