---
layout: default
---

<article role="article">
<h1>Tag: #{{page.tag}}</h1>
    <table>
      {% for post in site.posts %}
      {% if post.tags contains page.tag %}
        <tr style="border: 0px;">
            <td><a class="post" href="{{ post.url }}">{{ post.title }}</a></td>
            <td>
                <span style="float: right; white-space: nowrap;" class="date" datetime="{{ post.date | date_to_xmlschema }}">
                    {{ post.date | date: "%b %d %Y" }}
                </span>
            </td>
        </tr>
      {% endif %}
      {% endfor %}
    </table>
</article>
